body, html {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', }

.background-image {
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#time-message-container {
  position: absolute;
bottom: 10%;
left: 5%;
color: white;
}

#time {
  font-size: 120px;
font-weight: 700;
  margin: 0;
  padding: 0;
}

#greeting {
  font-size: 50px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

#loc {
  font-size: 50px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

#quote-container {
  position: absolute;
  top: 10%;
  left: 60%;
  color: white;
  font-size: 24px;
  font-style: italic;
  max-width: 400px;
  background-color: rgba(0, 0, 0, 0.144);
}

#text {
  font-size: 24px;
  font-weight: 600;
}

#author {
  font-size: 20px;
  font-weight: 400;
  margin-top: 10px;
}

@media only screen and (max-width: 768px) {
  #time { font-size: 48px; }
  #greeting { font-size: 20px; }
  #quote-container { font-size: 20px; }
  #quote-author { font-size: 16px; }
}

@media only screen and (max-width: 480px) {
  #time { font-size: 36px; }
  #greeting { font-size: 18px; }
  #quote-container { font-size: 18px; }
  #quote-author { font-size: 14px; }
}

#new-quote {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
}

#new-quote svg {
  fill: white; 
  width: 24px; 
  height: 24px; 
}